/* BASE: GUTENBERG
-------------------------------------------- */

ul[class^='wp-block'] {
	padding-left: 0 !important;
}

// Button

.wp-block-button {
	margin-bottom: px2rem(16px);
}

.vlt-content-markup {

	@include media-breakpoint-up(md) {

		.alignwide {
			width: auto;
			margin-right: calc(-8.333333% - 15px);
			margin-left: calc(-8.333333% - 15px);
		}

	}

	.alignfull {
		width: auto;
		max-width: 100vw;
		margin-right: calc(-100vw / 2 + 100% / 2);
		margin-left: calc(-100vw / 2 + 100% / 2);
	}

}

// Block Cover
.wp-block-cover p:not(.has-text-color) {
	color: var(--vlt-color-0);
}

.blocks-gallery-caption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
	margin: 0 auto px2rem(30px);
}

.wp-block-columns.alignfull,
.alignfull:not(.has-background) .wp-block-columns {
	padding-right: px2rem(15px);
	padding-left: px2rem(15px);
}

.wp-block-archives {
	margin-bottom: px2rem(30px);
}

.wp-block-pullquote blockquote {
	padding: 0;
	margin-bottom: 0;
	border: none;
}

.wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
	@extend cite;
}

.wp-block-pullquote.is-style-solid-color blockquote cite {
	text-transform: uppercase;
}