/* HTML
-------------------------------------------- */

html {
	font-size: $base_font_size;

	@include media-breakpoint-down(md) {
		font-size: $base_font_size - 1px;
	}

	@include media-breakpoint-down(sm) {
		font-size: $base_font_size - 2px;
	}

}

/* SELECTION
-------------------------------------------- */

::selection {
	color: var(--vlt-color-0);
	background-color: var(--vlt-color-7);
}

::-moz-selection {
	color: var(--vlt-color-0);
	background-color: var(--vlt-color-7);
}

/* BODY
-------------------------------------------- */

body {
	min-width: px2rem(320px);
	padding: 0;
	margin: 0;
	background-color: var(--vlt-color-0);

	@if $smooth_font {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

}

/* IMAGE
-------------------------------------------- */

img {
	max-width: 100%;
	height: auto;
}

/* PARAGRAPH
-------------------------------------------- */

p {
	margin: 0 0 px2rem(30px);

	&:empty {
		display: none;
	}

}

/* STRONG
-------------------------------------------- */

strong {
	font-weight: 600;
}

/* MARK
-------------------------------------------- */

mark {
	color: var(--vlt-color-0);
	background-color: var(--vlt-color-7);
}

/* LINK
-------------------------------------------- */

a {
	color: inherit;
	text-decoration: none;
	transition: all var(--vlt-transition-duration) var(--vlt-transition-easing);

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		outline: none;
	}

	p &,
	&:hover {
		color: var(--vlt-color-7);
	}

}

/* HEADINGS
-------------------------------------------- */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	padding: 0;
	margin: 0;
}

/* LIST
-------------------------------------------- */

ul,
ol {
	padding: 0;
	margin: 0;
	list-style-position: inside;
}

/* DIVIDER
-------------------------------------------- */

hr {
	margin: px2rem(30px) 0;
	border: none;
	border-bottom: 1px solid var(--vlt-color-2);
}

/* ADDRESS
-------------------------------------------- */

address {
	margin: 0 0 px2rem(30px);
	font-size: map-get($scales, 's9');
	font-weight: normal;
	font-style: normal;
	line-height: 1.7;
	color: var(--vlt-color-7);
}

/* BLOCKQUOTE
-------------------------------------------- */

blockquote {
	padding: px2rem(25px) 0 px2rem(25px) px2rem(40px);
	margin: 0 0 px2rem(30px);
	border-left: 3px solid var(--vlt-color-7);

	p {
		margin-bottom: 0;
	}

	&.pullquote {
		position: relative;
		padding: px2rem(35px) 20%;
		color: var(--vlt-color-0);
		text-align: center;
		border: none;
		z-index: 1;

		&::after {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--vlt-color-7);
			transition: transform var(--vlt-transition-duration) var(--vlt-transition-easing);
			z-index: -1;
			@include pseudo;
		}

		&:hover::after {
			transform: scale(1.01);
		}

	}

}

cite {
	display: block;
	margin: px2rem(16px) 0 0;
	font-style: normal;
	color: var(--vlt-color-7);
	@extend %vlt_display_1;
}

/* PREFORMATTED
-------------------------------------------- */

code,
kbd {
	padding: px2rem(5px) px2rem(8px);
	font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	font-size: 87.5%;
	color: var(--vlt-color-0);
	background-color: var(--vlt-color-7);
	border-radius: 0;
}

a>code {
	color: var(--vlt-color-0);
}

pre {
	max-width: 100%;
	padding: px2rem(35px);
	margin: 0 0 px2rem(30px);
	overflow: auto;
	clear: both;
	font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	color: var(--vlt-color-7);
	tab-size: 4;
	white-space: pre-wrap;
	background-color: var(--vlt-color-1);

	code {
		color: var(--vlt-color-0);
	}

}

/* FORM / INPUT / TEXTAREA / SELECT
-------------------------------------------- */

form {
	max-width: 100%;
}

label {
	display: block;
	width: 100%;
	margin-bottom: px2rem(5px);
	user-select: none;
}

input[type=text],
input[type=date],
input[type=email],
input[type=password],
input[type=tel],
input[type=url],
input[type=search],
input[type=number],
textarea,
select {
	display: block;
	width: 100%;
	appearance: none;
	padding: px2rem(10px) 0;
	margin: 0;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--vlt-color-2);
	outline: none;
	transition: all var(--vlt-transition-duration) var(--vlt-transition-easing);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	appearance: none;
	margin: 0;
}

select {
	background-image: url("data:image/svg+xml;utf8,<svg fill='%23141414' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position: right 0 bottom 50%;
	background-size: 18px 18px;
}

textarea {
	width: 100%;
	max-width: 100%;
	transition: height 0s;
}

button,
input[type='submit'] {

	&:focus {
		outline: none;
	}

}

input[type=text],
input[type=date],
input[type=email],
input[type=password],
input[type=tel],
input[type=url],
input[type=search],
input[type=number],
textarea,
select {

	@include input-placeholder {
		color: var(--vlt-color-7);
		opacity: 1;
	}

	&:focus {

		@include input-placeholder {
			opacity: 0;
		}

	}

}

.vlt-form-label {
	position: absolute;
	top: px2rem(10px);
	left: 0;
	margin-bottom: 0;
	pointer-events: none;
	transition: all var(--vlt-transition-duration) var(--vlt-transition-easing);
	transform-origin: left top;
	backface-visibility: hidden;
}

.vlt-form-group {
	position: relative;
	display: block;
	margin-bottom: px2rem(30px);

	&.active {

		.vlt-form-label {
			top: px2rem(-15px);
			transform: scale(.77777778);
		}

	}

}

.vlt-form-row {
	display: grid;
	grid-gap: px2rem(30px);
	grid-template-columns: repeat(1, 1fr);

	&.two-col {
		grid-template-columns: repeat(2, 1fr);

		@include media-breakpoint-down(md) {
			grid-gap: 0;
			grid-template-columns: repeat(1, 1fr);
		}

	}

	&.three-col {
		grid-template-columns: repeat(3, 1fr);

		@include media-breakpoint-down(md) {
			grid-gap: 0;
			grid-template-columns: repeat(1, 1fr);
		}

	}

}

/* DEFINITION LIST
-------------------------------------------- */

dl {
	margin-bottom: 0;

	dt {
		font-size: map-get($scales, 's10');
		font-weight: 600;
		color: var(--vlt-color-7);
	}

	dd {
		margin-top: px2rem(8px);
		margin-bottom: 0;
		@extend %vlt_display_2;
	}

}

dd+dt {
	margin-top: px2rem(30px);
}

/* TABLE
-------------------------------------------- */

table {
	width: 100%;
	max-width: 100%;
	margin: 0;
	border-collapse: collapse;

	td,
	th {
		padding: px2rem(8px) px2rem(15px);
		border: 1px solid var(--vlt-color-2);
	}

	tr th,
	thead th {
		font-weight: 600;
		color: var(--vlt-color-7);
	}

}