/* SHOWCASE: STYLE 5
-------------------------------------------- */

$min-height: 550px;

.vlt-showcase--style-5 {
	background-color: var(--vlt-color-2);

	.swiper-wrapper,
	.vlt-showcase-item {
		height: 100vh;
		min-height: $min-height;
	}

	.vlt-showcase-item {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		padding: 0 px2rem(100px);

		@include media-breakpoint-down(md) {
			padding: 0 px2rem(80px);
		}

		@include media-breakpoint-down(sm) {
			padding: 0 px2rem(40px);
		}

	}

	// image
	.vlt-showcase-image,
	.vlt-showcase-image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.vlt-showcase-image {
		overflow: hidden;

		img {
			width: 100%;
			font-family: 'object-fit: cover;';
			object-fit: cover;

			&.swiper-lazy {
				opacity: 0;
				transition: all var(--vlt-transition-duration) var(--vlt-transition-easing);
				transform: scale(0.85);
			}

		}

	}

	.swiper-slide-active {

		img.swiper-lazy-loaded {
			opacity: 1;
			transition: all 600ms var(--vlt-transition-duration) var(--vlt-transition-easing);
			transform: scale(1);
		}

	}

	.vlt-showcase-content {
		position: relative;
		width: 100%;
		z-index: 2;
	}

	.vlt-showcase-category {
		margin: 0 0 px2rem(20px);
		color: var(--vlt-color-7);
		@extend %vlt_display_2;
	}

	.vlt-showcase-title {
		margin: 0;
		color: var(--vlt-color-7);

		a {
			@extend %vlt_underline_link;

			&:hover {
				color: inherit;
			}

		}

	}

	.vlt-showcase-link {
		margin: px2rem(40px) 0 0;
	}

}