/* SHOWCASE: STYLE 3
-------------------------------------------- */

$min-height: 550px;

.vlt-showcase--style-3 {

	.swiper-wrapper,
	.vlt-showcase-item {
		height: 100vh;
		min-height: $min-height;
	}

	.vlt-showcase-item {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;


		>* {
			width: 50%;

			@include media-breakpoint-down(md) {
				width: 100%;
			}

		}

	}

	// image
	.vlt-showcase-image {
		position: relative;
		height: 100%;
		background-color: var(--vlt-color-1);

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			font-family: 'object-fit: cover;';
			object-fit: cover;

			&.swiper-lazy {
				opacity: 0;
			}

			&.swiper-lazy-loaded {
				animation: vlt_showcase_image 600ms var(--vlt-transition-duration) var(--vlt-transition-easing) forwards;
			}

		}

	}

	// content
	.vlt-showcase-content {
		padding: 0 13%;

		@include media-breakpoint-down(md) {
			padding: 0 px2rem(50px);
		}

		@include media-breakpoint-down(sm) {
			padding: 0 px2rem(40px);
		}

	}

	.vlt-showcase-category {
		margin: 0 0 px2rem(10px);
		@extend %vlt_display_2;
	}

	.vlt-showcase-title {
		margin: 0;

		a {
			@extend %vlt_underline_link;
		}

	}

	.vlt-showcase-text {
		max-width: px2rem(350px);
		margin: px2rem(25px) 0 0;
	}

	.vlt-showcase-link {
		margin: px2rem(40px) 0 0;
	}

}