/* SHOWCASE: STYLE 10
-------------------------------------------- */

$min-height: 550px;

.vlt-showcase--style-10 {

	.swiper-wrapper,
	.vlt-showcase-item {
		height: 100vh;
		min-height: $min-height;
	}

	.vlt-showcase-item {
		position: relative;
		width: 100%;
	}

	// image
	.vlt-showcase-image {
		position: relative;
		height: 100%;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--vlt-color-7-1);
			transition: background-color var(--vlt-transition-duration) var(--vlt-transition-easing);
			z-index: 1;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			font-family: 'object-fit: cover;';
			object-fit: cover;

			&.swiper-lazy {
				opacity: 0;
			}

			&.swiper-lazy-loaded {
				animation: vlt_showcase_image 600ms var(--vlt-transition-duration) var(--vlt-transition-easing) forwards;
			}

		}

	}

	// content
	.vlt-showcase-content {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: px2rem(50px);
		overflow: hidden;
		transition: padding var(--vlt-transition-duration) var(--vlt-transition-easing);
		z-index: 2;
	}

	.vlt-showcase-category {
		margin: 0 0 px2rem(10px);
		color: var(--vlt-color-0);
		@extend %vlt_display_2;
	}

	.vlt-showcase-title {
		margin: 0;
		color: var(--vlt-color-0);

		a {
			@extend %vlt_underline_link;

			&:hover {
				color: inherit;
			}

		}

	}

	.vlt-showcase-text {
		margin: px2rem(15px) 0 0;
		color: var(--vlt-color-0);
	}

	.vlt-showcase-link {
		position: absolute;
		bottom: px2rem(45px);
		font-size: 1.2em;
		line-height: 1;
		color: var(--vlt-color-0);
		opacity: 0;
		transform: translateY(30px);
	}

	.vlt-showcase-item:hover {

		.vlt-showcase-image {

			img {
				transform: scale(1.05);
			}

			&::before {
				background-color: var(--vlt-color-7-2);
			}

		}

		.vlt-showcase-content {
			padding-bottom: px2rem(90px);
		}

		.vlt-showcase-link {
			opacity: 1;
			transition-delay: 100ms;
			transform: translateY(0);
		}

	}

}