/* SHOWCASE: STYLE 4
-------------------------------------------- */

$min-height: 550px;

.vlt-showcase--style-4 {
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: $min-height;

	.vlt-showcase-images,
	.vlt-showcase-images::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.vlt-showcase-images {
		background-color: var(--vlt-color-7);

		&::before {
			content: '';
			background-color: var(--vlt-color-7-2);
			z-index: 2;
		}

	}

	.vlt-showcase-image,
	.vlt-showcase-image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.vlt-showcase-image {

		img {
			width: 100%;
			font-family: 'object-fit: cover;';
			object-fit: cover;

			&.swiper-lazy {
				opacity: 0;
				transition: all var(--vlt-transition-duration) var(--vlt-transition-easing);
				transform: scale(0.85);
			}

		}

	}

	.swiper-slide-active {

		img.swiper-lazy-loaded {
			opacity: 1;
			transition: all 600ms var(--vlt-transition-duration) var(--vlt-transition-easing);
			transform: scale(1);
		}

	}

	.vlt-showcase-links {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: px2rem(50px);
		padding-top: 0;
		margin: 0;
		list-style-type: none;
		z-index: 3;

		@include media-breakpoint-down(sm) {
			padding: px2rem(15px);
		}

		li+li {
			margin-top: px2rem(40px);

			@include media-breakpoint-down(sm) {
				margin-top: px2rem(25px);
			}

		}

	}

	.vlt-showcase-title {
		display: inline-flex;
		margin: 0;
		color: var(--vlt-color-0);

		&::after {
			content: '\ea6c';
			display: inline-flex;
			margin-left: px2rem(30px);
			font-family: map-get($icons, 'remixicon');
			font-size: 70%;
			font-weight: normal;
			opacity: 0;
			transition: transform var(--vlt-transition-duration) var(--vlt-transition-easing), opacity var(--vlt-transition-duration) var(--vlt-transition-easing);
			transform: translateX(-15px);
			align-self: center;
		}

		a:hover {
			color: inherit;
		}

	}

	.vlt-showcase-category {
		margin: px2rem(10px) 0 0;
		color: var(--vlt-color-0);
		@extend %vlt_display_2;
	}

	.vlt-showcase-link {

		&.is-active {

			.vlt-showcase-title::after {
				opacity: 1;
				transform: translateX(0);
			}

		}

	}

}