/* PARTIAL: SITE PRELOADER
-------------------------------------------- */

.animsition,
.animsition-overlay {
	position: static;
}

.animsition-image {
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	width: px2rem(60px);
	height: px2rem(60px);
	animation: vlt_image_preloader 1s infinite ease-in-out;
	z-index: z('site-preloader');
}

.animsition-bounce {
	position: fixed;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	width: px2rem(50px);
	height: px2rem(50px);
	z-index: z('site-preloader');
}

.double-bounce-one,
.double-bounce-two {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--vlt-color-7);
	border-radius: 50%;
	opacity: .6;
	animation: vlt_bounce_preloader 2s infinite ease-in-out;
}

.double-bounce-two {
	animation-delay: -1s;
}