/* HEADER: ASIDE
-------------------------------------------- */

$navbar-width: 280px;

.vlt-header--aside {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: px2rem($navbar-width);
	z-index: z('header-aside');

	@include admin-sticky-fix;

	.vlt-is--theme-borders & {
		bottom: var(--vlt-theme-border-thickness);
	}

	.vlt-navbar {
		height: 100%;
		padding: 0;

		&-inner {
			justify-content: space-between;
			height: 100%;
			padding: px2rem(50px) 0 px2rem(50px) px2rem(50px);
			flex-direction: column;

			.vlt-navbar-logo {
				margin-bottom: px2rem(50px);
			}

			.vlt-navbar-socials {
				margin-top: px2rem(50px);
			}

		}

	}

}

/* CONTENT AREA
-------------------------------------------- */

.vlt-is--header-aside {

	@include media-breakpoint-up(lg) {

		body {
			padding-left: $navbar-width !important;
		}

	}

}

/* ASIDE NAVIGATION
-------------------------------------------- */

.vlt-nav--aside {
	height: 100%;

	&__navigation {
		width: 100%;
		z-index: 2;

		ul.sf-menu {
			position: relative;
			width: 100%;
			z-index: 2;

			a>span {
				position: relative;
				display: inline-block;
			}

			li {
				width: 100%;

				a {
					padding: px2rem(5px) 0;
					font-size: map-get($scales, 's9');
					color: inherit;
					white-space: nowrap;

					>span {
						display: inline;
						text-decoration: none;
						background-image: linear-gradient(currentColor, currentColor);
						background-repeat: no-repeat;
						background-position: 0% 100%;
						background-size: 0 1px;
						transition: background-size var(--vlt-transition-duration) var(--vlt-transition-easing);
					}

				}

				&:hover>a,
				&.current-menu-item>a,
				&.current-menu-ancestor>a {
					color: var(--vlt-color-7);

					span {
						background-size: 100% 1px;
					}

				}

				&.menu-item-has-children>a::after {
					content: '';
					position: relative;
					top: -3px;
					display: inline-block;
					margin-left: px2rem(15px);
					border: 3px solid transparent;
					border-left: 3px solid currentColor;
					transition: border-color var(--vlt-transition-duration) var(--vlt-transition-easing);
				}

			}

			ul.sub-menu {
				padding-left: px2rem(10px);

				li a {
					font-size: map-get($scales, 's10');
				}

			}

		}

	}

}