/* HEADER: DEFAULT
-------------------------------------------- */

.vlt-header--default {

	.vlt-navbar-inner {
		display: flex;
		align-items: center;
	}

	.vlt-navbar-logo,
	.vlt-nav,
	.vlt-navbar-buttons {
		display: flex;
	}

	.vlt-navbar-logo {
		margin-right: auto;
	}

	.vlt-nav,
	.vlt-no-menu-message {
		margin-right: px2rem(20px);
	}

}

.vlt-header--default-center {

	.vlt-navbar-inner {
		display: flex;
		align-items: center;
	}

	.vlt-navbar-logo {
		display: flex;
		justify-content: flex-start;
		flex: 1;
	}

	.vlt-nav {
		display: flex;
		justify-content: space-around;
		flex: auto;
	}

	.vlt-navbar-buttons {
		display: flex;
		justify-content: flex-end;
		flex: 1;
	}

	.vlt-nav,
	.vlt-no-menu-message {
		margin: 0 px2rem(20px);
	}

}

.vlt-header--default-left {

	.vlt-navbar-inner {
		display: flex;
		align-items: center;
	}

	.vlt-navbar-logo {
		margin-right: unset;
	}

	.vlt-navbar-logo,
	.vlt-nav,
	.vlt-navbar-buttons {
		display: flex;
	}

	.vlt-nav,
	.vlt-no-menu-message {
		margin-right: auto;
		margin-left: px2rem(40px);
	}

}

.vlt-nav--default {
	min-height: var(--vlt-navbar-height);

	.vlt-no-menu-message {
		align-self: center;
	}

	.sf-menu {
		font-size: 0;

		a>span {
			position: relative;
			display: inline-block;
		}

		>li {
			display: inline-flex;
			align-items: center;
			float: none;
			min-height: 100%;
			padding: 0 px2rem(20px);

			>a {
				position: relative;
				font-size: map-get($scales, 's10');
				color: inherit;

				>span {
					display: inline;
					text-decoration: none;
					background-image: linear-gradient(currentColor, currentColor);
					background-repeat: no-repeat;
					background-position: 0% 100%;
					background-size: 0 1px;
					transition: background-size var(--vlt-transition-duration) var(--vlt-transition-easing);
				}

			}

			&:hover>a,
			&.sfHover>a,
			&.current-menu-item>a,
			&.current-menu-ancestor>a {

				>span {
					background-size: 100% 1px;
				}

			}

			&.two-columns>ul.sub-menu {
				column-count: 2;
			}

		}

		li.left ul.sub-menu {
			margin-right: -20px;
			margin-left: 0;
		}

		// submenu
		ul.sub-menu {
			min-width: px2rem(290px);
			padding: px2rem(30px) 0;
			margin-left: px2rem(-20px);
			background-color: var(--vlt-color-7);
			box-shadow: 0 5px 10px 0 var(--vlt-color-7-05);

			.vlt-header--dark & {
				background-color: var(--vlt-color-0);
			}

			ul.sub-menu {
				top: px2rem(-30px);
				margin-right: 0;
				margin-left: 0;
			}

			li {
				display: block;
				min-width: px2rem(220px);
				padding: 0 px2rem(40px);

				a {
					padding: px2rem(6px) 0;
					font-size: map-get($scales, 's10');
					color: var(--vlt-color-2);
					white-space: nowrap;

					>span {
						display: inline;
						text-decoration: none;
						background-image: linear-gradient(currentColor, currentColor);
						background-repeat: no-repeat;
						background-position: 0% 100%;
						background-size: 0 1px;
						transition: background-size var(--vlt-transition-duration) var(--vlt-transition-easing);
					}

					.vlt-header--dark & {
						color: var(--vlt-color-7);
					}

				}

				&:hover>a,
				&.current-menu-item>a,
				&.current-menu-ancestor>a,
				&.sfHover>a {
					color: var(--vlt-color-0);

					.vlt-header--dark & {
						color: var(--vlt-color-7);
					}

					>span {
						background-size: 100% 1px;
					}

				}

				&.menu-item-has-children>a::after {
					content: '';
					position: absolute;
					top: calc(50% - 3px);
					right: -3px;
					border: 3px solid transparent;
					border-left: 3px solid currentColor;
					transition: border-color var(--vlt-transition-duration) var(--vlt-transition-easing);
				}

			}

		}

		// mega menu
		>li.menu-item-has-megamenu {
			position: static;

			a.label {
				margin-bottom: px2rem(15px);
				pointer-events: none;

				span {
					background: none;
				}

			}

			>ul.sub-menu {
				left: 0;
				display: grid;
				width: 100%;
				padding: px2rem(30px) 0;
				margin: 0;

				// columns
				>li {

					ul {
						position: static;
						display: block;
						margin: 0;

						li {
							padding: 0;
						}

					}

					&:not(:first-child) {
						border-left: 1px solid var(--vlt-color-2-1);
					}

				}


			}

			&.menu-item-has-megamenu--two>ul.sub-menu {
				grid-template-columns: repeat(2, 1fr);
			}

			&.menu-item-has-megamenu--three>ul.sub-menu {
				grid-template-columns: repeat(3, 1fr);
			}

			&.menu-item-has-megamenu--four>ul.sub-menu {
				grid-template-columns: repeat(4, 1fr);
			}

			&.menu-item-has-megamenu--five>ul.sub-menu {
				grid-template-columns: repeat(5, 1fr);
			}

		}

	}

}