/* HEADER: MOBILE
-------------------------------------------- */

.vlt-header--mobile {

	.vlt-navbar-inner {
		display: flex;
		align-items: center;
		padding: 0 $grid-gutter-width / 2;
	}

	.vlt-navbar-logo,
	.vlt-navbar-buttons {
		display: flex;
	}

	.vlt-navbar-logo {
		margin-right: auto;
	}

}

.vlt-nav--mobile {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	width: 100%;
	padding: 0 $grid-gutter-width / 2;
	color: var(--vlt-color-7);
	background-color: var(--vlt-color-0);

	.vlt-no-menu-message {
		padding: $grid-gutter-width / 2;
	}

	&__footer {
		padding-top: px2rem(16px);
		margin-top: px2rem(8px);
		border-top: 1px solid var(--vlt-color-2);
	}

	.sf-menu {
		padding: px2rem(10px) 0;
		font-size: 0;

		a>span {
			position: relative;
			display: inline-block;
		}

		li {
			padding: 0;

			a {
				position: relative;
				padding: px2rem(8px) 0;
				font-size: map-get($scales, 's10');
				color: inherit;

				>span {
					display: inline;
					text-decoration: none;
					background-image: linear-gradient(currentColor, currentColor);
					background-repeat: no-repeat;
					background-position: 0% 100%;
					background-size: 0 1px;
					transition: background-size var(--vlt-transition-duration) var(--vlt-transition-easing);
				}

			}

			&:hover>a,
			&.sfHover>a,
			&.current-menu-item>a,
			&.current-menu-ancestor>a {

				>span {
					background-size: 100% 1px;
				}

			}

			&.menu-item-has-children>a::after {
				content: '';
				position: absolute;
				top: calc(50% - 3px);
				right: -3px;
				border: 3px solid transparent;
				border-left: 3px solid currentColor;
				transition: border-color var(--vlt-transition-duration) var(--vlt-transition-easing);
			}

		}

		// submenu
		ul.sub-menu {
			margin-left: px2rem(10px);

			li {
				padding: 0;
			}

		}

	}

}