/* HEADER: OFFCANVAS
-------------------------------------------- */

.vlt-header--offcanvas {

	.vlt-navbar-inner {
		display: flex;
		align-items: center;
	}

	.vlt-navbar-logo,
	.vlt-navbar-buttons {
		display: flex;
	}

	.vlt-navbar-logo {
		margin-right: auto;
	}

}

.vlt-nav--offcanvas {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	width: 100%;
	max-width: px2rem(600px);
	padding: px2rem(100px) 0 px2rem(50px);
	overflow: hidden;
	visibility: hidden;
	flex-direction: column;
	background-color: var(--vlt-color-0);
	background-position: center center;
	background-size: cover;
	transition: transform var(--vlt-transition-duration) var(--vlt-transition-easing), visibility var(--vlt-transition-duration) var(--vlt-transition-easing);
	transform: translate3d(100%, 0, 0);
	backface-visibility: hidden;
	z-index: z('offcanvas-menu');

	@include admin-sticky-fix;

	.vlt-is--theme-borders & {
		right: var(--vlt-theme-border-thickness);
		bottom: var(--vlt-theme-border-thickness);
	}

	&.is-open {
		visibility: visible;
		transform: translate3d(0, 0, 0);
	}

	.vlt-menu-burger {
		position: absolute;
		top: 0;
		right: 0;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: px2rem(100px);
		height: px2rem(100px);
		font-size: map-get($scales, 's9');
		color: var(--vlt-color-7);
		transition: opacity var(--vlt-transition-duration) var(--vlt-transition-easing);

		i.ri-close-fill {
			font-size: 1.3em;
		}

		&:hover {
			opacity: 0.8;
		}

	}

	&__navigation {
		@extend %vlt_large_navigation;
	}

	.vlt-navbar-socials {
		padding-top: px2rem(50px);
		color: var(--vlt-color-7);
	}

}

/* OFFCANVAS DARK
-------------------------------------------- */

.vlt-nav--offcanvas-dark {
	background-color: var(--vlt-color-7);

	.vlt-nav--offcanvas__navigation ul.sf-menu {

		>li {

			a {
				color: var(--vlt-color-0-85);
			}

			&:hover>a,
			&.current-menu-item>a,
			&.current-menu-ancestor>a {
				color: var(--vlt-color-0);
			}

		}

	}

	.vlt-menu-burger,
	.vlt-navbar-socials {
		color: var(--vlt-color-0);
	}

}