/* GENERAL
-------------------------------------------- */

.form-row {
	margin-right: 0;
	margin-bottom: px2rem(30px);
	margin-left: 0;

	.woocommerce-input-wrapper {
		display: block;
		width: 100%;
	}

}

abbr[data-original-title],
abbr[title] {
	text-decoration: none;
}

.cross-sells,
.related.products,
.upsells.products {
	margin-top: px2rem(100px);

	.vlt-section-title {
		margin-bottom: px2rem(50px);
	}

}

/* SELECT 2
-------------------------------------------- */

.select2-selection.select2-selection--single {
	outline: none !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	display: flex;
	align-items: center;
	height: 100%;
	padding-right: 0;
	padding-left: 0;
	line-height: inherit;
	color: var(--vlt-color-7);
}

.select2-container--default .select2-selection--single {
	height: px2rem(45px);
	border-color: var(--vlt-color-2);
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	width: auto;
	height: px2rem(45px);

	b {
		border-color: var(--vlt-color-7) transparent transparent transparent;
	}

}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent var(--vlt-color-7) transparent;
}

.select2-container--open .select2-dropdown {
	border: 1px solid var(--vlt-color-2);
	border-radius: 0;
}

.select2-search--dropdown {
	padding: px2rem(5px);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border: 1px solid var(--vlt-color-2);
}

.select2-search--dropdown .select2-search__field {
	padding: px2rem(10px);
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[data-selected=true] {
	background-color: var(--vlt-color-1);
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
	background-color: var(--vlt-color-7);
}

/* RESPONSIVE TABLE
-------------------------------------------- */

@include media-breakpoint-down(md) {

	.woocommerce,
	.woocommerce-page {

		table.shop_table_responsive {

			thead {
				display: none;
			}

			tbody {

				tr:first-child {

					td:first-child {
						border-top: 0;
					}

				}

				th {
					display: none;
				}

			}

			tr {
				display: block;

				td {
					display: block;
					padding-right: 0;
					padding-left: 0;
					text-align: right !important;
					border-top: none;
					border-right: none;
					border-left: none;

					&.order-actions {
						text-align: left !important;
					}

					&::before {
						content: attr(data-title) ': ';
						float: left;
						color: var(--vlt-color-7);
					}

					&.product-remove,
					&.actions {

						&::before {
							display: none;
						}

					}

				}

			}

		}

		table.my_account_orders {

			tr {

				td {

					&.order-actions {
						text-align: left;

						&::before {
							display: none;
						}

						.button {
							float: none;
							margin: 0.125em 0.25em 0.125em 0;
						}

					}

				}

			}

		}

	}

}


/* MESSAGE
-------------------------------------------- */

.woocommerce-notice,
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	position: relative;
	padding: px2rem(20px) px2rem(40px);
	margin: 0 0 px2rem(30px);
	list-style-type: none;
	background-color: var(--vlt-color-1);
	border-left: 4px solid var(--vlt-color-7);

	.button,
	.wc-backward {
		float: right;
		line-height: inherit;
	}

	li {
		padding-left: 0 !important; // Required for default theme compatibility
		margin-left: 0 !important; // Required for default theme compatibility
		list-style: none outside !important; // Required for default theme compatibility
	}

}

/* STORE NOTICE
-------------------------------------------- */

p.demo_store,
.woocommerce-store-notice {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	width: 100%;
	padding: 1em 0;
	margin: 0;
	font-size: 1em;
	color: var(--vlt-color-0);
	text-align: center;
	background-color: var(--vlt-color-7);
	z-index: 99998;

	a {
		color: inherit;
		@extend %vlt_underline_link;
	}

}

/* STAR RATING
-------------------------------------------- */

.woocommerce .star-rating {
	position: relative;
	width: 5.3em;
	height: 1em;
	overflow: hidden;
	font-family: map-get($icons, 'remixicon');
	font-size: 1em;
	font-style: normal;
	line-height: 1;
	color: var(--vlt-color-7);

	&::before {
		content: '\f186\f186\f186\f186\f186';
		position: absolute;
		top: 0;
		left: 0;
		float: left;
		color: var(--vlt-color-3);
	}

	span {
		position: absolute;
		top: 0;
		left: 0;
		float: left;
		padding-top: 1.5em;
		overflow: hidden;
	}

	span::before {
		content: '\f186\f186\f186\f186\f186';
		position: absolute;
		top: 0;
		left: 0;
	}

}

.woocommerce p.stars {
	margin-bottom: 0;
	line-height: 1;

	a {
		position: relative;
		display: inline-block;
		width: 1em;
		height: 1em;
		font-size: 1.2em;
		text-decoration: none;
		text-indent: -999em;

		&::before {
			content: '\f186';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			font-family: map-get($icons, 'remixicon');
			line-height: 1;
			color: var(--vlt-color-3);
			text-indent: 0;
		}

		&:hover~a::before {
			color: var(--vlt-color-3);
		}
	}

	&:hover a::before {
		color: var(--vlt-color-7);
	}

	&.selected {

		a.active {

			&::before {
				color: var(--vlt-color-7);
			}

			~a::before {
				color: var(--vlt-color-3);
			}
		}

		a:not(.active)::before {
			color: var(--vlt-color-7);
		}

	}

}

/* UI LOADER
-------------------------------------------- */

.blockUI.blockOverlay,
.loader {
	background-color: var(--vlt-color-7-2) !important;
	opacity: 1 !important;

	&::before,
	&::before {
		content: '\eec2';
		position: absolute;
		top: calc(50% - 15px);
		left: calc(50% - 15px);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		font-family: map-get($icons, 'remixicon');
		font-size: px2rem(30px);
		color: var(--vlt-color-0);
		animation: vlt_spin 1s linear infinite;
	}

}

/* ONSALE BADGE
-------------------------------------------- */

.woocommerce span.onsale {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-flex;
	padding: px2rem(4px) px2rem(12px);
	font-size: map-get($scales, 's12');
	color: var(--vlt-color-0);
	background-color: var(--vlt-color-7);
	z-index: 1;
}

/* CONTENT LOOP HEADER
-------------------------------------------- */

.woocommerce-content-loop-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: px2rem(50px);

	.woocommerce-result-count,
	.woocommerce-ordering {
		float: unset;
		margin-bottom: 0;
	}

}

/* PRODUCT GALLERY
-------------------------------------------- */

.vlt-single-product__media {
	position: relative;

	div.images {

		img {
			display: block;
			width: 100%;
			height: auto;
			box-shadow: none;
		}

		div.thumbnails {
			padding-top: 1em;
		}

		&.woocommerce-product-gallery {
			position: relative;
		}

		.woocommerce-product-gallery__image:nth-child(n+2) {
			display: inline-block;
			width: 25%;
		}

		.flex-viewport {
			margin-bottom: px2rem(10px);
		}

		.flex-control-thumbs {
			padding: 0;
			margin: 0;
			margin-right: px2rem(-5px);
			margin-left: px2rem(-5px);
			overflow: hidden;
			zoom: 1;

			li {
				float: left;
				width: 25%;
				padding-right: px2rem(5px);
				padding-bottom: px2rem(10px);
				padding-left: px2rem(5px);
				margin: 0;
				list-style: none;

				img {
					margin: 0;
					cursor: pointer;
					opacity: 0.8;

					&.flex-active,
					&:hover {
						opacity: 1;
					}
				}

			}

		}

	}

	.woocommerce-product-gallery--columns-3 {

		.flex-control-thumbs li:nth-child(3n+1) {
			clear: left;
		}
	}

	.woocommerce-product-gallery--columns-4 {

		.flex-control-thumbs li:nth-child(4n+1) {
			clear: left;
		}
	}

	.woocommerce-product-gallery--columns-5 {

		.flex-control-thumbs li:nth-child(5n+1) {
			clear: left;
		}
	}

}

/* QUANTITY
-------------------------------------------- */

.woocommerce .quantity {
	position: relative;
	display: inline-block;

	input {
		width: px2rem(50px);
		padding: px2rem(18px) 0;
		margin-right: px2rem(25px);
		line-height: 1.1;
		text-align: center;
		border: none;
		box-shadow: inset 0 0 0 1px var(--vlt-color-7);
	}

	.minus,
	.plus {
		position: absolute;
		right: 0;
		width: px2rem(25px);
		height: 50%;
		font-size: map-get($scales, 's9');
		line-height: 25px;
		color: var(--vlt-color-7);
		text-align: center;
		cursor: pointer;
		user-select: none;
		border-right: 1px solid var(--vlt-color-7);
		border-bottom: 1px solid var(--vlt-color-7);
		border-left: 0;
	}

	.plus {
		top: 0;
		border-top: 1px solid var(--vlt-color-7);
	}

	.minus {
		bottom: 0;
	}

}

@import 'checkout-page';
@import 'cart-page';
@import 'my-account-page';
@import 'product/partials/product-media';
@import 'product/partials/product-price';
@import 'product/partials/product-title';
@import 'product/product-style-1';
@import 'product/product-single';