%vlt_display_1 {
	font-size: map-get($scales, 's10');
	font-weight: normal;
}

%vlt_display_2 {
	font-size: map-get($scales, 's10');
	font-weight: normal;
	font-style: italic;
}

%vlt_tag_button {
	display: inline-block;
	padding: px2rem(4px) px2rem(12px);
	font-size: map-get($scales, 's12');
	color: var(--vlt-color-5);
	background-color: var(--vlt-color-0);
	border: 1px solid var(--vlt-color-2);

	&:hover {
		color: var(--vlt-color-0);
		background-color: var(--vlt-color-7);
		border-color: var(--vlt-color-7);
	}

}

%vlt_large_navigation {
	width: 100%;
	max-width: px2rem(400px);
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	z-index: 2;

	ul.sf-menu {
		position: relative;
		width: 100%;
		z-index: 2;

		a>span {
			position: relative;
			display: inline-block;
		}

		li {
			width: 100%;

			a {
				padding: px2rem(8px) 0;
				font-size: map-get($scales, 's5');
				font-weight: 500;
				line-height: 1.5;
				color: var(--vlt-color-7);
				letter-spacing: -.01em;
				white-space: nowrap;

				>span {
					display: inline;
					text-decoration: none;
					background-image: linear-gradient(currentColor, currentColor);
					background-repeat: no-repeat;
					background-position: 0% 100%;
					background-size: 0 1px;
					transition: background-size var(--vlt-transition-duration) var(--vlt-transition-easing);
				}

			}

			&:hover>a,
			&.current-menu-item>a,
			&.current-menu-ancestor>a {
				color: var(--vlt-color-7);

				span {
					background-size: 100% 1px;
				}

			}

			&.menu-item-has-children>a::after {
				content: '';
				position: absolute;
				top: calc(50% - 3px);
				right: -3px;
				border: 3px solid transparent;
				border-left: 3px solid currentColor;
				transition: border-color var(--vlt-transition-duration) var(--vlt-transition-easing);
			}

		}

	}

}

%vlt_navbar_logo {
	display: inline-flex;
	align-items: center;
	line-height: 1;

	&:hover {
		color: currentColor;
	}

	h2 {
		font-size: map-get($scales, 's6');
		line-height: 1;
		color: currentColor;
	}

	img {
		display: block;
		width: auto;
		max-width: none;

		.vlt-header--dark & {
			display: none;
		}

	}

	.white {
		display: none;

		.vlt-header--dark & {
			display: block;
		}

	}

}

%vlt_underline_link {
	display: initial;
	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-repeat: no-repeat;
	background-position: 0% 100%;
	background-size: 0 1px;
	transition: background-size var(--vlt-transition-duration) var(--vlt-transition-easing);

	&:hover {
		background-size: 100% 1px;
	}

}