/* Gutenberg Editor Stylesheet
 * Version: 1.0
 *
 * Powered by SODAThemes
 */

@import 'abstracts/mixins';
@import 'abstracts/variables';

// block
.wp-block {
	max-width: 1140px;
}

// preformatted
.wp-block-code,
.wp-block-preformatted pre,
.wp-block-verse pre,
pre.wp-block-verse {
	padding: px2rem(35px);
	font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	color: var(--vlt-color-0);
	background-color: var(--vlt-color-7);
}