/* PORTFOLIO: PAGINATION
-------------------------------------------- */

.vp-portfolio__pagination-wrap {
	overflow: unset !important;
}

.vp-pagination__style-sodalicious {
	display: flex;
	justify-content: center;
	padding: 0;
	margin-top: px2rem(100px);
	list-style-type: none;
	flex-wrap: wrap;

	.vp-pagination__item a {
		text-decoration: none;
		outline: none;
	}

	&.vp-pagination__align-left {
		justify-content: flex-start;
	}

	&.vp-pagination__align-right {
		justify-content: flex-end;
	}

	.vp-pagination__item {
		padding: 0;
		margin: 0;
		text-align: center;
		list-style-type: none;
		flex: 0 0 auto;
	}

	&[data-vp-pagination-type=load-more],
	&[data-vp-pagination-type=infinite] {

		.vp-pagination__item {
			display: block;
			padding: px2rem(30px);
			margin: px2rem(-30px);
			flex: auto;

			.vp-pagination__load-more {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: px2rem(80px);
				height: px2rem(80px);
				font-size: map-get($scales, 's12');
				line-height: 1;
				color: var(--vlt-color-7);
				border-radius: 50%;
				box-shadow: inset 0 0 0 1px var(--vlt-color-7);

				i {
					display: inline-block;
					font-size: map-get($scales, 's9');

					&::before {
						font-size: 1.2em;
					}

					&.icon-loader {
						animation: vlt_spin 1s linear infinite;
					}

				}

				&:hover {
					color: var(--vlt-color-7);

					i {
						animation: vlt_animate_icon_bottom var(--vlt-transition-duration) forwards;
					}

				}

			}

		}

		&.vp-pagination__no-more .vp-pagination__load-more {
			pointer-events: none;
		}

	}

	&[data-vp-pagination-type='paged'] {

		.vp-pagination__item {
			overflow: hidden;

			&.vp-pagination__item-prev,
			&.vp-pagination__item-next {
				font-size: map-get($scales, 's13');
			}

			&.vp-pagination__item-prev:hover i {
				animation: vlt_animate_icon_left var(--vlt-transition-duration) var(--vlt-transition-easing) forwards;
			}

			&.vp-pagination__item-next:hover i {
				animation: vlt_animate_icon_right var(--vlt-transition-duration) var(--vlt-transition-easing) forwards;
			}

			>a,
			>span {
				display: flex;
				align-items: center;
				justify-content: center;
				width: px2rem(60px);
				height: px2rem(60px);
				color: var(--vlt-color-7);
				background-color: var(--vlt-color-1);
			}

			&:not(.vp-pagination__item-active) a:hover {
				background-color: var(--vlt-color-2);
			}

			&.vp-pagination__item-active>span {
				color: var(--vlt-color-0);
				background-color: var(--vlt-color-7);
			}

		}

	}

	// show/hide labels
	.vp-pagination__load-more .vp-pagination__load-more-no-more,
	.vp-pagination__load-more .vp-pagination__load-more-loading,
	.vp-portfolio__loading & .vp-pagination__load-more .vp-pagination__load-more-load,
	&.vp-pagination__no-more .vp-pagination__load-more .vp-pagination__load-more-load,
	.vp-portfolio__loading &.vp-pagination__no-more .vp-pagination__load-more .vp-pagination__load-more-no-more {
		display: none;
	}

	.vp-pagination__load-more .vp-pagination__load-more-load,
	.vp-portfolio__loading & .vp-pagination__load-more .vp-pagination__load-more-loading,
	&.vp-pagination__no-more .vp-pagination__load-more .vp-pagination__load-more-no-more {
		display: block;
	}

}