/* PARTIAL: PRODUCT MEDIA
-------------------------------------------- */

.vlt-product-media,
.vp-portfolio__item-img-wrap {
	position: relative;
	overflow: hidden;

	img {
		display: block;
		margin: 0 auto;
		transition: transform 1s var(--vlt-transition-easing);
		backface-visibility: hidden;
		will-change: transform;
	}

}

.vlt-product:hover {

	.vlt-product-media,
	.vp-portfolio__item-img-wrap {

		img {
			transform: scale(1.05);
		}

	}

}