/* LAYOUT: FOOTER
-------------------------------------------- */

.vlt-footer {
	position: relative;
	overflow: hidden;
	background-color: var(--vlt-color-7);

	&--fixed {
		will-change: transform;
		z-index: z('footer-fixed');
	}

}

.vlt-is--footer-fixed {

	.vlt-main {
		z-index: z('footer-fixed-content');
	}

}