/* Gutenberg Editor Stylesheet
 * Version: 1.0
 *
 * Powered by SODAThemes
 */
:root {
  --vlt-navbar-height: px2rem(100px);
  --vlt-transition-duration: 300ms;
  --vlt-transition-easing: ease-out;
  --plyr-color-main: var(--vlt-color-7);
  --vlt-color-green: hsl(144deg, 58%, 51%);
  --vlt-color-blue: hsl(202deg, 73%, 48%);
  --vlt-color-red: hsl(15deg, 73%, 48%);
  --vlt-color-gray: hsl(0deg, 0%, 44%);
  --vlt-color-star: hsl(41deg, 92%, 62%);
  --vlt-color-0: hsl(0deg, 0%, 100%);
  --vlt-color-1: hsl(0deg, 0%, 96%);
  --vlt-color-2: hsl(0deg, 0%, 90%);
  --vlt-color-3: hsl(0deg, 0%, 81%);
  --vlt-color-4: hsl(0deg, 0%, 74%);
  --vlt-color-5: hsl(0deg, 0%, 52%);
  --vlt-color-6: hsl(0deg, 0%, 13%);
  --vlt-color-7: hsl(0deg, 0%, 6%);
  --vlt-color-0-1: hsla(0deg, 0%, 100%, 0.1);
  --vlt-color-0-2: hsla(0deg, 0%, 100%, 0.2);
  --vlt-color-0-5: hsla(0deg, 0%, 100%, 0.5);
  --vlt-color-0-7: hsla(0deg, 0%, 100%, 0.7);
  --vlt-color-0-85: hsla(0deg, 0%, 100%, 0.85);
  --vlt-color-2-1: hsla(0deg, 0%, 90%, 0.1);
  --vlt-color-2-15: hsla(0deg, 0%, 90%, 0.15);
  --vlt-color-3-5: hsla(0deg, 0%, 81%, 0.5);
  --vlt-color-7-04: hsla(0deg, 0%, 6%, 0.04);
  --vlt-color-7-05: hsla(0deg, 0%, 6%, 0.05);
  --vlt-color-7-1: hsla(0deg, 0%, 6%, 0.1);
  --vlt-color-7-2: hsla(0deg, 0%, 6%, 0.2);
  --vlt-color-7-4: hsla(0deg, 0%, 6%, 0.4);
}

.wp-block {
  max-width: 1140px;
}

.wp-block-code,
.wp-block-preformatted pre,
.wp-block-verse pre,
pre.wp-block-verse {
  padding: px2rem(35px);
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: var(--vlt-color-0);
  background-color: var(--vlt-color-7);
}