/* WIDGET: ACTION BLOCK
-------------------------------------------- */

.vlt-action-block {
	position: relative;
	padding: px2rem(90px) 12%;
	z-index: 1;

	&::before {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--vlt-color-7);
		transition: all var(--vlt-transition-duration) var(--vlt-transition-easing);
		z-index: -1;
		@include pseudo;
	}

	&__content {
		font-size: map-get($scales, 's7');
		font-weight: 600;
		line-height: 1.5;
		color: var(--vlt-color-0);

		p:last-of-type {
			margin-bottom: 0;
		}

	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: none;
		z-index: 3;
	}

	&:hover {

		&::before {
			transform: scale(1.01);
		}

	}

}