/* WIDGET: ALERT MESSAGE
-------------------------------------------- */

.vlt-alert-message {
	position: relative;
	padding: px2rem(20px) px2rem(40px);
	margin: 0;
	list-style-type: none;
	background-color: var(--vlt-color-0);
	border-left: 4px solid var(--vlt-color-7);

	&--has-dismiss {

		.vlt-alert-message__inner {
			padding-right: px2rem(20px);
		}

	}

	&__inner {
		display: flex;

		> i {
			margin-right: 0.75em;
			font-size: 1.2em;
			color: var(--vlt-color-7);
			align-self: center;
		}

	}

	&__dismiss {
		position: absolute;
		top: 50%;
		right: px2rem(40px);
		font-size: map-get($scales, 's10');
		line-height: 1;
		color: currentColor;
		color: var(--vlt-color-7);
		transform: translate3d(0, -50%, 0);

		i {
			display: inline-block;
			transition: transform var(--vlt-transition-duration) var(--vlt-transition-easing);
		}

		&:hover {
			color: currentColor;

			i {
				transform: rotate(180deg);
			}

		}

	}

	p:first-of-type {
		margin-top: 0;
	}

	p:last-of-type {
		margin-bottom: 0;
	}

}