/* WIDGET: BUTTON
-------------------------------------------- */

.vlt-btn {
	position: relative;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	border: none;
	outline: 0;
	box-shadow: none;
	transition: all var(--vlt-transition-duration) var(--vlt-transition-easing);
	z-index: 1;

	&:disabled,
	&.disabled {
		pointer-events: none;
		cursor: not-allowed;
	}

	&--block {
		width: 100%;
	}

	&--rounded {
		border-radius: px2rem(100px);
	}

	&:focus {
		outline: none;
	}

	i.left {
		margin-right: 0.7em;
	}

	i.right {
		margin-left: 0.7em;
	}

	&:hover {
		text-decoration: none;
	}

}

/* BUTTON EFFECT
-------------------------------------------- */

.vlt-btn--effect {

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: transform var(--vlt-transition-duration) var(--vlt-transition-easing);
		transform: scaleY(.001);
		transform-origin: center bottom;
		z-index: 5;
	}

	.vlt-btn__content:first-of-type,
	.vlt-btn__content:nth-of-type(2) {
		transition: transform var(--vlt-transition-duration), opacity var(--vlt-transition-duration) var(--vlt-transition-easing);
	}

	.vlt-btn__content:first-of-type {
		opacity: 1;
		transform: translate(0);
		z-index: 1;
	}

	.vlt-btn__content:nth-of-type(2) {
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 0;
		transform: translate(-50%, 20px);
		z-index: 10;
	}

	&:hover {

		&::after {
			transform: translate(0);
		}

		.vlt-btn__content:first-of-type {
			opacity: 0;
			transform: translateY(-20px);
		}

		.vlt-btn__content:nth-of-type(2) {
			opacity: 1;
			transform: translate(-50%, -50%);
		}

	}

}

/* BUTTON PRIMARY
-------------------------------------------- */

.vlt-btn.vlt-btn--primary {
	color: var(--vlt-color-0);
	background-color: var(--vlt-color-7);

	&:hover {
		color: var(--vlt-color-0);
	}

	&:not(.vlt-btn--effect):hover,
	&.vlt-btn--effect::after {
		background-color: var(--vlt-color-6);
	}

	&.vlt-btn--white {
		color: var(--vlt-color-7);
		background-color: var(--vlt-color-0);

		&:hover {
			color: var(--vlt-color-7);
		}

		&:not(.vlt-btn--effect):hover,
		&.vlt-btn--effect::after {
			background-color: var(--vlt-color-1);
		}

	}

}

/* BUTTON SECONDARY
-------------------------------------------- */

.vlt-btn.vlt-btn--secondary {
	color: var(--vlt-color-7);
	background-color: transparent;
	box-shadow: inset 0 0 0 1px var(--vlt-color-7);

	&:hover {
		color: var(--vlt-color-0);
	}

	&:not(.vlt-btn--effect):hover,
	&.vlt-btn--effect::after {
		background-color: var(--vlt-color-7);
	}

}

/* BUTTON SIZES
-------------------------------------------- */

.vlt-btn,
.vlt-btn.vlt-btn--md {
	padding: px2rem(20px) px2rem(40px);
}

.vlt-btn.vlt-btn--lg {
	padding: px2rem(22px) px2rem(50px);
}

.vlt-btn.vlt-btn--sm {
	padding: px2rem(18px) px2rem(30px);
}

.vlt-btn.vlt-btn--xs {
	padding: px2rem(15px) px2rem(25px);
}