/* WIDGET: CONTACT FORM 7
-------------------------------------------- */

.wpcf7 {

	p {
		margin-bottom: 0;
	}

	br {
		display: none;
	}

	.wpcf7-form-control-wrap {
		display: block;
	}

	.wpcf7-list-item {
		margin: 0;
	}

	.wpcf7-not-valid-tip {
		padding: 0;
		margin: 0;
	}

	.wpcf7-not-valid-tip {
		margin: px2rem(5px) 0 0;
		font-size: map-get($scales, 's10');
		color: var(--danger);
	}

	.wpcf7-response-output {
		position: relative;
		padding: 0 !important;
		margin: px2rem(30px) 0 0 !important;
		font-size: map-get($scales, 's10');
		color: var(--danger) !important;
		background-color: transparent;
		border: none !important;
	}

	span.ajax-loader {
		display: none !important;
	}

}