/* WIDGET: CONTENT SLIDER
-------------------------------------------- */

.vlt-content-slider {
	width: 100%;

	&[data-slides-centered="yes"] {

		.swiper-slide {
			overflow: unset;

			@include media-breakpoint-up(md) {
				width: auto !important;
			}

		}

	}

}