/* WIDGET: DEMO ITEM
-------------------------------------------- */

.vlt-demo-item {

	.vlt-demo-item-image {
		position: relative;
		box-shadow: var(--vlt-color-7-1) 0px px2rem(20px) px2rem(25px) px2rem(-5px), var(--vlt-color-7-04) 0px px2rem(10px) px2rem(10px) px2rem(-5px), inset 0 0 0 1px var(--vlt-color-2);
		transition: transform var(--vlt-transition-duration) var(--vlt-transition-easing);

		.badge {
			position: absolute;
			top: px2rem(-13px);
			right: px2rem(-13px);
			display: flex;
			align-items: center;
			justify-content: center;
			width: auto;
			height: px2rem(26px);
			padding: 0 px2rem(10px);
			font-size: 75%;
			font-weight: 600;
			color: var(--vlt-color-0);
			background-color: var(--vlt-color-7);
			border-radius: px2rem(50px);
			box-shadow: 0 1px 1px 0 var(--vlt-color-0-1);
		}

	}

	.vlt-demo-item-content {
		padding-top: px2rem(25px);
	}

	.vlt-demo-item-title {

		a {
			@extend %vlt_underline_link;
		}

	}

	&:hover .vlt-demo-item-image {
		transform: translateY(-10px);
	}

}