/* WIDGET: MASK IMAGE
-------------------------------------------- */

.vlt-mask-image {
	position: relative;

	img:not(:last-of-type) {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	img {
		display: block;
		width: 100%;
		height: 100% !important;
		object-fit: cover;
		mask-image: var(--vlt-mask-image);
		mask-repeat: round;
	}

}