/* WIDGET: PAGE TITLE
-------------------------------------------- */

.vlt-page-title {
	position: relative;
	overflow: hidden;
	z-index: 1;

	.vlt-breadcrumbs {
		margin-top: px2rem(20px);

		.sep {
			margin: 0 px2rem(8px);
			opacity: 0.5;
		}

		a {
			@extend %vlt_underline_link;

			&:hover {
				color: inherit;
			}

		}

	}

	&__subtitle {
		margin: px2rem(20px) 0 0;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--vlt-color-7-1);
		z-index: -1;
	}

	&__scroll-to {
		position: absolute;
		bottom: px2rem(50px);
		left: 50%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: px2rem(40px);
		height: px2rem(40px);
		font-size: map-get($scales, 's9');
		color: var(--vlt-color-0);
		transform: translateX(-50%);

		i {
			font-size: 1.2em;
		}

		&:hover {
			color: var(--vlt-color-0);
			opacity: 0.8;

			i {
				animation: vlt_animate_icon_bottom var(--vlt-transition-duration) var(--vlt-transition-easing) forwards;
			}

		}

	}

}

/* STYLE 1
-------------------------------------------- */

.vlt-page-title--style-1 {
	padding: px2rem(100px) 0 0;
}

/* STYLE 2
-------------------------------------------- */

.vlt-page-title--style-2 {
	padding: px2rem(200px) 0;
	text-align: center;

	.vlt-page-title__title,
	.vlt-page-title__subtitle,
	.vlt-breadcrumbs {
		color: var(--vlt-color-0);
	}

}

/* STYLE 3
-------------------------------------------- */

.vlt-page-title--style-3 {
	padding: px2rem(280px) 0;
	text-align: center;

	.vlt-page-title__title,
	.vlt-page-title__subtitle,
	.vlt-breadcrumbs {
		color: var(--vlt-color-0);
	}

	.vlt-page-title__title {
		font-size: map-get($scales, 's0');

		@include media-breakpoint-down(md) {
			font-size: map-get($scales, 's2');
		}

		@include media-breakpoint-down(sm) {
			font-size: map-get($scales, 's4');
		}

	}

}