/* WIDGET: PARTNER
-------------------------------------------- */

.vlt-partner {
	display: flex;
	align-items: center;
	min-height: px2rem(55px);
	flex-shrink: 0;

	img {
		width: auto;
		opacity: 0.3;
		transition: opacity var(--vlt-transition-duration) var(--vlt-transition-easing);
		flex-shrink: 0;
	}

	&:hover img {
		opacity: 1;
	}

	&--left {
		justify-content: flex-start;
	}

	&--center {
		justify-content: center;
	}

	&--right {
		justify-content: flex-end;
	}

}