/* WIDGET: PHONE BLOCK
-------------------------------------------- */

.vlt-phone-block {
	display: inline-flex;
	align-items: center;

	&__icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: px2rem(45px);
		height: px2rem(45px);
		margin-right: px2rem(24px);
		font-size: map-get($scales, 's7');
		color: var(--vlt-color-0);
		background-color: var(--vlt-color-7);
		border-radius: 50%;
		flex-shrink: 0;
	}

	&__caption {
		margin-right: px2rem(40px);
		font-size: map-get($scales, 's12');
		font-weight: 700;
		line-height: 1.7;
		color: var(--vlt-color-7);
		text-align: left;
		text-transform: uppercase;
		flex-shrink: 0;

		@include media-breakpoint-down(md) {
			display: none;
		}

	}

	&__phone {
		font-size: map-get($scales, 's4');
		font-weight: 600;
		color: var(--vlt-color-7);
		flex-basis: 100%;
	}

}