/* WIDGET: PIE CHART
-------------------------------------------- */

.vlt-pie-chart {
	display: flex;

	&__bar {
		position: relative;
		display: flex;
	}

	&__title {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		margin: 0;
		white-space: pre-wrap;
		flex-wrap: wrap;
	}

}