/* WIDGET: SIMPLE ICON
-------------------------------------------- */

.vlt-simple-icon {
	display: inline-flex;
	line-height: 1;

	img {
		display: block;
		width: auto;
		height: 1em !important;
	}

	svg {
		height: 1em;
	}

}