/* WIDGET: STYLED LIST
-------------------------------------------- */

.vlt-styled-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

/* STYLE 1
-------------------------------------------- */

.vlt-styled-list--style-1 {

	li {
		display: flex;
		flex-direction: row;

		i {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 2em;
			height: 2em;
			margin-top: .2em;
			margin-right: px2rem(25px);
			font-size: .7em;
			color: var(--vlt-color-0);
			background-color: var(--vlt-color-7);
			border-radius: 50%;
			flex-shrink: 0;
		}

	}

	li+li {
		margin-top: px2rem(25px);
	}

}

/* STYLE 2
-------------------------------------------- */

.vlt-styled-list--style-2 {

	li {
		display: flex;
		flex-direction: row;

		&::before {
			content: '';
			display: inline-block;
			width: px2rem(10px);
			height: 2px;
			margin-top: .75em;
			margin-right: px2rem(20px);
			background-color: currentColor;
			flex-shrink: 0;
		}

	}

	li+li {
		margin-top: px2rem(25px);
	}

}

/* STYLE 3
-------------------------------------------- */

.vlt-styled-list--style-3 {
	@extend .vlt-styled-list--style-2;

	li {
		@extend %vlt_display_1;
	}

	li+li {
		margin-top: px2rem(20px);
	}

}