/* WIDGET: TESTIMONIAL
-------------------------------------------- */

.vlt-testimonial {
	text-align: center;
	transition: all var(--vlt-transition-duration) var(--vlt-transition-easing);

	&__content {
		font-size: map-get($scales, 's6');
		font-weight: 600;
		color: var(--vlt-color-7);
	}

	&__avatar {
		width: px2rem(100px);
		margin-right: px2rem(35px);
		overflow: hidden;
		border-radius: 50%;

		img {
			width: auto;
		}

	}

	&__meta {
		display: inline-flex;
		align-items: center;
		margin-top: px2rem(40px);
	}

	&__name {
		margin: 0;

		a:hover {
			color: inherit;
		}

	}

	&__function {
		margin: px2rem(5px) 0 0;
		@extend %vlt_display_2;
	}

}

.vlt-content-slider[data-slides-centered=yes] .swiper-slide:not(.swiper-slide-active) .vlt-testimonial {
	opacity: 0.5;
}