/* WIDGET: TIMELINE
-------------------------------------------- */

.vlt-timeline {
	padding: 0;
	margin: 0;
	list-style-type: none;

	&__item {
		display: flex;
	}

	&__meta {
		width: px2rem(160px);
		padding: px2rem(15px) px2rem(35px) px2rem(30px) 0;
		text-align: right;
		flex-shrink: 0;

		@include media-breakpoint-down(md) {
			width: 100px;
		}

		&-date.h6,
		&-position {
			display: block;
		}

		&-date.h6 {
			margin: 0;
		}

		&-position {
			margin-top: px2rem(5px);
			font-style: italic;

			@include media-breakpoint-down(md) {
				display: none;
			}

		}

	}

	&__content {
		position: relative;
		padding: px2rem(15px) 0 px2rem(30px) px2rem(35px);
		border-left: 1px solid var(--vlt-color-2);

		&::before {
			content: '';
			position: absolute;
			top: 20px;
			left: -7px;
			display: block;
			width: 14px;
			height: 14px;
			background-color: var(--vlt-color-0);
			border: 2px solid var(--vlt-color-7);
			border-radius: 50%;
		}

		&-title {
			margin: 0;
		}

		&-text {
			margin: px2rem(5px) 0 0;
		}

	}

}