/* WIDGET: TYPES LIST
-------------------------------------------- */

.vlt-types {
	position: relative;
	overflow: hidden;

	@include media-breakpoint-up(lg) {
		height: px2rem(570px);
	}

}

.vlt-types-background,
.vlt-types-background__image,
.vlt-types-list {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	z-index: 1;
	flex-wrap: wrap;
}

.vlt-types-background {
	z-index: 1;

	@include media-breakpoint-down(lg) {
		display: none;
	}

	&__image {
		background-color: var(--vlt-color-7);
		opacity: 0;
		transition: opacity var(--vlt-transition-duration) + 200ms var(--vlt-transition-easing);

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
			opacity: 0.7;
			object-fit: cover;
		}

		&.is-active {
			opacity: 1;
		}

	}

}

.vlt-types-list {
	z-index: 2;

	@include media-breakpoint-down(lg) {
		position: relative;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		width: 1px;
		height: 100%;
		background-color: transparent;
		transition: background-color var(--vlt-transition-duration) + 200ms var(--vlt-transition-easing);
		z-index: 1;

		@include media-breakpoint-down(lg) {
			display: none;
		}

	}

	&::before {
		left: calc(100% / 3);
	}

	&::after {
		left: calc((100% / 3) * 2);
	}

	&.is-active {

		&::before,
		&::after {
			background-color: var(--vlt-color-0-1);
		}

	}

	.vlt-types-list__item {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: calc(100% / 3);
		height: 100%;
		overflow: hidden;
		backface-visibility: hidden;

		@include media-breakpoint-down(lg) {
			width: 100%;
			height: px2rem(180px);
		}

		@include media-breakpoint-up(lg) {

			&:nth-of-type(2) .vlt-types-list__background {
				left: -100%;
			}

			&:nth-of-type(3) .vlt-types-list__background {
				left: -200%;
			}

		}

		.vlt-types-list__content {
			width: 100%;
			padding: 0 px2rem(30px);
			color: var(--vlt-color-0);
			text-align: center;
			transition: opacity var(--vlt-transition-duration) + 200ms var(--vlt-transition-easing);
		}

		.vlt-types-list__background {
			position: absolute;
			top: 0;
			left: 0;
			width: 300%;
			height: 100%;
			background-color: var(--vlt-color-7);
			transition: opacity var(--vlt-transition-duration) + 200ms var(--vlt-transition-easing);
			z-index: -1;

			@include media-breakpoint-down(lg) {
				width: 100%;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100% !important;
				height: 100% !important;
				opacity: 0.7;
				object-fit: cover;
			}

		}

		&.is-opacity {

			@include media-breakpoint-up(lg) {

				.vlt-types-list__background {
					opacity: 0;
				}

				.vlt-types-list__content {
					opacity: 0.2;
				}

			}

		}

	}

	.vlt-types-list__title {
		color: inherit;

		a {
			color: inherit;
		}

	}

	.vlt-types-list__category {
		display: block;
		margin-top: px2rem(10px);
		color: inherit;
		@extend %vlt_display_2;
	}

}