/* PARTIAL: POST META
-------------------------------------------- */

.vlt-post-meta {
	@extend %vlt_display_2;

	span+span {

		&::before {
			content: '/';
			padding-right: px2rem(6px);
			margin-left: px2rem(6px);
		}

	}

	&:not(.vlt-post-meta--filled) {

		a {
			@extend %vlt_underline_link;
		}

	}

	&--filled {
		display: inline-block;
		padding: px2rem(4px) px2rem(15px);
		font-size: map-get($scales, 's12');
		line-height: 1.7;
		color: var(--vlt-color-0);
		background-color: var(--vlt-color-7);

		a:hover {
			color: var(--vlt-color-2);
		}

	}

}