/* PAGE: 404
-------------------------------------------- */

.vlt-page--404 {

	.vlt-page-error-content {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		min-height: calc(100vh - 100px);
		padding: px2rem(100px) 0;
		flex-direction: column;
		z-index: 1;
	}

	p {
		margin: px2rem(20px) 0 px2rem(30px);
	}

	.vlt-is-stroke {
		position: absolute;
		bottom: 0;
		font-size: px2rem(240px);
		font-weight: 600;
		line-height: .7;
		color: var(--vlt-color-2);
		z-index: -1;
	}

}