/* POST: SINGLE POST
-------------------------------------------- */

.vlt-single-post {

	&__header {
		margin-bottom: px2rem(50px);

		.vlt-post-meta {
			margin-top: px2rem(15px);
		}

	}

	&__media {
		margin-bottom: px2rem(50px);
	}

	&__footer {
		margin-top: px2rem(70px);

		.vlt-post-tags {
			display: flex;
			align-items: center;

			a {
				@extend %vlt_tag_button;
			}

			a+a {
				margin-left: px2rem(10px);
			}

		}

		.vlt-post-tags+.vlt-post-share {
			margin-top: px2rem(100px);
		}

		.vlt-post-share {
			position: relative;
			display: inline-block;
			padding: px2rem(20px) px2rem(45px);
			overflow: hidden;
			color: var(--vlt-color-0);
			text-align: center;
			background-color: var(--vlt-color-7);

			&__links {
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: all var(--vlt-transition-duration) var(--vlt-transition-easing);
				transform: translateY(100%) scale(.8);

				a:hover {
					color: inherit;
				}

			}

			&__title {
				margin: 0;
				color: inherit;
				transition: all var(--vlt-transition-duration) var(--vlt-transition-easing);
				@extend %vlt_display_2;
			}

			&:hover {

				.vlt-post-share__title {
					opacity: 0;
					transform: translateY(-100%);
				}

				.vlt-post-share__links {
					opacity: 1;
					transform: translateY(0) scale(1);
				}

			}

		}

	}

}

.vlt-also-like-posts {
	margin-top: px2rem(100px);
}