/* POST: QUOTE
-------------------------------------------- */

.vlt-post-quote {
	position: relative;
	padding: 12%;
	overflow: hidden;
	color: var(--vlt-color-0);
	background-color: var(--vlt-color-7);
	z-index: 1;

	&::after {
		content: '';
		position: absolute;
		top: px2rem(-20px);
		left: px2rem(-20px);
		width: px2rem(150px);
		height: px2rem(150px);
		background-image: url(../img/quote.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		opacity: 0.5;
	}

	a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	&__text {
		margin: 0;
		color: inherit;
	}

	&__author {
		display: block;
		margin-top: px2rem(20px);
		color: var(--vlt-color-3);
		@extend %vlt_display_2;
	}

}