/* WIDGET: CALENDAR
-------------------------------------------- */

.vlt-widget.widget_calendar {

	tr,
	td,
	th {
		padding: px2rem(10px) px2rem(5px);
		text-align: center;
	}

	caption {
		padding: px2rem(15px) 0 0;
		@extend %vlt_display_2;
	}

	#today {
		font-weight: 600;
		color: var(--vlt-color-0);
		background-color: var(--vlt-color-7);
	}

	.wp-calendar-nav {
		margin-top: px2rem(15px);
	}

}