/* WIDGET: SEARCH FORM
-------------------------------------------- */

.vlt-widget.widget_search,
.vlt-widget.widget_product_search {

	.vlt-search-form {
		position: relative;
		overflow: hidden;

		input[type=text] {
			padding-right: px2rem(50px);

			&:focus+button {
				animation: vlt_animate_icon_right var(--vlt-transition-duration) var(--vlt-transition-easing) forwards;
			}

		}

		button {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			padding: 0;
			margin: 0;
			font-size: map-get($scales, 's10');
			color: var(--vlt-color-7);
			cursor: pointer;
			background: none;
			border: none;
			transition: color var(--vlt-transition-duration) var(--vlt-transition-easing);

			&:hover {
				opacity: 0.8;
			}

		}

	}

}