/* WIDGET: TAG CLOUD
-------------------------------------------- */

.vlt-widget.widget_tag_cloud,
.vlt-widget.widget_product_tag_cloud {
	margin-bottom: px2rem(-10px);

	a {
		margin: 0 px2rem(10px) px2rem(10px) 0;
		@extend %vlt_tag_button;
	}

}