/* WIDGET: PRODUCTS
-------------------------------------------- */

.vlt-widget.widget_products,
.vlt-widget.widget_recently_viewed_products,
.vlt-widget.widget_top_rated_products,
.vlt-widget.widget_recent_reviews,
.vlt-widget.widget_shopping_cart {

	.product_list_widget {

		li+li {
			margin-top: px2rem(20px);
		}

		.vlt-widget-product {
			position: relative;
			display: flex;
			align-items: center;

			.vlt-widget-product__thumbnail+.vlt-widget-product__content {
				margin-left: px2rem(30px);
			}

			a.remove {
				position: absolute;
				top: calc(50% - 1em);
				right: 0;
			}

			&__thumbnail {
				max-width: px2rem(90px);
				overflow: hidden;
				flex-shrink: 0;

				img {
					margin: 0;
					transition: transform var(--vlt-transition-duration) var(--vlt-transition-easing);
					backface-visibility: hidden;
				}

			}

			&__content {
				overflow: hidden;
				flex-basis: 100%;

				h5 {
					margin-bottom: px2rem(10px);
					overflow: hidden;
					font-size: map-get($scales, 's10');
					line-height: 1.5;
					text-overflow: ellipsis;
					white-space: nowrap;

					a {
						@extend %vlt_underline_link;
					}

				}

				.star-rating {
					margin-bottom: px2rem(10px);
				}

				.price,
				.reviewer,
				.quantity {
					@extend %vlt_display_2;

					del {
						color: var(--vlt-color-4);
					}

					ins {
						text-decoration: none;
					}

				}

			}

			&:hover .vlt-widget-product__thumbnail img {
				transform: scale(1.1);
			}

		}

	}

}