/* WIDGET: MINI CART
-------------------------------------------- */

.vlt-widget.widget_shopping_cart {

	.woocommerce-mini-cart__total {
		padding: px2rem(15px) 0 0;
		margin: px2rem(30px) 0 px2rem(20px);
		color: var(--vlt-color-7);
		border-top: 1px solid var(--vlt-color-7);
	}

	.woocommerce-mini-cart__total,
	.woocommerce-mini-cart__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.woocommerce-mini-cart__buttons {
		margin: 0;

		a {
			flex: 1;
		}

		a+a {
			margin-left: px2rem(15px);
		}

	}

}