/* WIDGET: PRICE FILTER
-------------------------------------------- */

.vlt-widget.widget_price_filter {

	.price_slider {
		margin-bottom: px2rem(25px);
	}

	.price_slider_wrapper .ui-widget-content {
		background-color: var(--vlt-color-2);
		border: 0;
		border-radius: 0;
	}

	.ui-slider {
		position: relative;
		margin-right: 0.5em;
		margin-left: 0.5em;
		text-align: left;

		&.ui-slider-horizontal {
			height: 3px;

			.ui-slider-range {
				top: 0;
				height: 100%;
			}

			.ui-slider-range-min {
				left: -1px;
			}

			.ui-slider-range-max {
				right: -1px;
			}

		}

		.ui-slider-range {
			position: absolute;
			display: block;
			font-size: 0.7em;
			background-color: var(--vlt-color-7);
			border: 0;
			border-radius: 0;
			z-index: 1;
		}

		.ui-slider-handle {
			position: absolute;
			top: -.4em;
			width: 1em;
			height: 1em;
			margin-left: -0.5em;
			cursor: ew-resize;
			background-color: var(--vlt-color-0);
			border: 2px solid var(--vlt-color-7);
			border-radius: 1em;
			outline: none;
			z-index: 2;
		}

	}

	.price_slider_amount {
		font-size: map-get($scales, 's12');
		font-style: italic;
		color: var(--vlt-color-7);

		.button {
			display: inline-block;
			padding: px2rem(4px) px2rem(12px);
			font-size: map-get($scales, 's12');
			line-height: 1.7;
			color: var(--vlt-color-7);
			cursor: pointer;
			background-color: transparent;
			border: none;
			border-radius: 0;
			box-shadow: inset 0 0 0 1px var(--vlt-color-7);
			transition: all var(--vlt-transition-duration) var(--vlt-transition-easing);

			&:hover {
				color: var(--vlt-color-0);
				background-color: var(--vlt-color-7);
			}

		}

	}

}