/* WORK: FADE
-------------------------------------------- */

.vp-portfolio__items-style-fade {

	// Overlay.
	--vp-items-style-fade--overlay__color: var(--vlt-color-0);
	--vp-items-style-fade--overlay__background-color: var(--vlt-color-7);

	// Image.
	--vp-items-style-fade--image__border-radius: 0;
	--vp-items-style-fade--image-hover__transform: scale(1.1);

	// Meta.
	--vp-items-style-fade--meta__padding-v: 30px;
	--vp-items-style-fade--meta__padding-h: 30px;
	--vp-items-style-fade--meta-items__gap: 5px;

	// Meta Icon.
	--vp-items-style-fade--meta-icon__font-size: 2em;

	// Meta Categories.
	--vp-items-style-fade--meta-categories__gap: .4em;
	--vp-items-style-fade--meta-categories__separator: ", ";

	// Meta Inline.
	--vp-items-style-fade--meta-inline__gap: 1em;

	// Meta Parts.
	--vp-items-style-fade--meta-part-icon__offset: .5em;

	.vp-portfolio__item {
		border-radius: var(--vp-items-style-fade--image__border-radius);

		// fix for safari border-radius.
		// https://github.com/nk-crew/visual-portfolio/issues/150
		z-index: 0;
	}

	.vp-portfolio__item a {
		outline: none;
		box-shadow: none;
	}

	.vp-portfolio__item-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		color: var(--vp-items-style-fade--overlay__color);
		background-color: var(--vp-items-style-fade--overlay__background-color);
		opacity: 0;
		transition: opacity var(--vlt-transition-duration) var(--vlt-transition-easing);
		will-change: opacity;

		// Fix FireFox image blinking
		// https://github.com/nk-o/visual-portfolio/issues/92
		z-index: 2;
	}

	// fix some themes figcaption styles.
	figcaption.vp-portfolio__item-overlay {
		margin: 0;
		font-style: inherit;
		color: var(--vp-items-style-fade--overlay__color);
	}

	// meta
	.vp-portfolio__item-meta-wrap {
		width: 100%;
		height: 100%;
		overflow: auto;

		.simplebar-content {
			display: flex;
			min-height: 100%;
		}

	}

	.vp-portfolio__item-meta {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: 100%;
		padding: var(--vp-items-style-fade--meta__padding-v) var(--vp-items-style-fade--meta__padding-h);
		color: inherit;
		text-align: center;
		flex-direction: column;

		>* {
			max-width: 100%;
			margin-bottom: var(--vp-items-style-fade--meta-items__gap);
			opacity: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}

	}

	.vp-portfolio__item-meta-icon {
		font-size: var(--vp-items-style-fade--meta-icon__font-size);
	}

	.vp-portfolio__item-meta-categories {
		display: inline-flex;
		margin-left: calc(-1 * var(--vp-items-style-fade--meta-categories__gap));
		flex-wrap: wrap;

		.vp-portfolio__item-meta-category {
			display: flex;
			margin-left: var(--vp-items-style-fade--meta-categories__gap);

			@if variable-exists(rtl) and $rtl {

				&::before {
					content: var(--vp-items-style-fade--meta-categories__separator);
				}

				&:first-of-type::before {
					content: none;
				}

			}

			@else {

				&::after {
					content: var(--vp-items-style-fade--meta-categories__separator);
				}

				&:last-of-type::after {
					content: none;
				}

			}

		}
	}

	.vp-portfolio__item-meta-title {
		margin-top: 0;
		margin-right: 0;
		margin-left: 0;
		color: inherit;
	}

	.vp-portfolio__item-meta-inline {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: calc(-1 * var(--vp-items-style-fade--meta-inline__gap));
		flex-wrap: wrap;

		>* {
			margin-left: var(--vp-items-style-fade--meta-inline__gap);
		}

	}

	.vp-portfolio__item-meta-part-icon {
		margin-right: var(--vp-items-style-fade--meta-part-icon__offset);
	}

	.vp-portfolio__item-meta-author {
		display: flex;
		align-items: center;

		img {
			width: 1em;
			height: auto;
			border-radius: 1em;
		}

	}

	// Transitions
	.vp-portfolio__item-img img {
		transition: transform 1s var(--vlt-transition-easing);
		will-change: transform;

		// Fix FireFox image blinking
		// https://github.com/nk-o/visual-portfolio/issues/92
		z-index: 1;
	}

	// Overlay
	.vp-portfolio__item:hover,
	.vp-portfolio__item-focus {

		.vp-portfolio__item-img img {
			transform: var(--vp-items-style-fade--image-hover__transform);
		}

	}

	// Overlay
	&.vp-portfolio__items-show-overlay-hover .vp-portfolio__item:hover,
	&.vp-portfolio__items-show-overlay-hover .vp-portfolio__item-focus {

		.vp-portfolio__item-overlay {
			opacity: 1;
		}

		.vp-portfolio__item-meta>* {
			animation: vlt_fade_in_from_bottom var(--vlt-transition-duration) var(--vlt-transition-easing) forwards;
		}

		.vp-portfolio__item-meta-categories {
			animation-delay: 100ms;
		}

	}

	&.vp-portfolio__items-show-overlay-default {

		.vp-portfolio__item-overlay {
			opacity: 1;
		}

		.vp-portfolio__item-meta>* {
			opacity: 1;
		}

		.vp-portfolio__item:hover,
		.vp-portfolio__item-focus {

			.vp-portfolio__item-overlay {
				opacity: 0;
			}

			.vp-portfolio__item-meta>* {
				opacity: 0;
			}

		}

	}

	&.vp-portfolio__items-show-overlay-always {

		.vp-portfolio__item-overlay {
			opacity: 1;
		}

		.vp-portfolio__item-meta>* {
			opacity: 1;
		}

	}

	// align
	.vp-portfolio__item-align-center .vp-portfolio__item-meta {
		align-items: center;
		text-align: center;

		.vp-portfolio__item-meta-categories,
		.vp-portfolio__item-meta-inline {
			justify-content: center;
		}

	}

	.vp-portfolio__item-align-left .vp-portfolio__item-meta {
		align-items: flex-start;
		text-align: left;

		.vp-portfolio__item-meta-categories,
		.vp-portfolio__item-meta-inline {
			justify-content: flex-start;
		}

	}

	.vp-portfolio__item-align-right .vp-portfolio__item-meta {
		align-items: flex-end;
		text-align: right;

		.vp-portfolio__item-meta-categories,
		.vp-portfolio__item-meta-inline {
			justify-content: flex-end;
		}

	}

	.vp-portfolio__item-align-top-center .vp-portfolio__item-meta {
		align-items: center;
		justify-content: flex-start;
		text-align: center;

		.vp-portfolio__item-meta-categories,
		.vp-portfolio__item-meta-inline {
			justify-content: center;
		}

	}

	.vp-portfolio__item-align-top-left .vp-portfolio__item-meta {
		align-items: flex-start;
		justify-content: flex-start;
		text-align: left;

		.vp-portfolio__item-meta-categories,
		.vp-portfolio__item-meta-inline {
			justify-content: flex-start;
		}

	}

	.vp-portfolio__item-align-top-right .vp-portfolio__item-meta {
		align-items: flex-end;
		justify-content: flex-start;
		text-align: right;

		.vp-portfolio__item-meta-categories,
		.vp-portfolio__item-meta-inline {
			justify-content: flex-end;
		}

	}

	.vp-portfolio__item-align-bottom-center .vp-portfolio__item-meta {
		align-items: center;
		justify-content: flex-end;
		text-align: center;

		.vp-portfolio__item-meta-categories,
		.vp-portfolio__item-meta-inline {
			justify-content: center;
		}

	}

	.vp-portfolio__item-align-bottom-left .vp-portfolio__item-meta {
		align-items: flex-start;
		justify-content: flex-end;
		text-align: left;

		.vp-portfolio__item-meta-categories,
		.vp-portfolio__item-meta-inline {
			justify-content: flex-start;
		}

	}

	.vp-portfolio__item-align-bottom-right .vp-portfolio__item-meta {
		align-items: flex-end;
		justify-content: flex-end;
		text-align: right;

		.vp-portfolio__item-meta-categories,
		.vp-portfolio__item-meta-inline {
			justify-content: flex-end;
		}

	}

}