/* WORDPRESS: COMMENTS
-------------------------------------------- */

.vlt-page-comments,
.vlt-product-reviews {
	margin-top: px2rem(120px);

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: px2rem(60px);

		a {
			font-size: .5em;

			i {
				margin-right: 0;
			}

		}

	}

	.vlt-comments,
	.vlt-comments ul.children,
	.vlt-reviews {
		padding: 0;
		margin: 0;
		list-style-type: none;

		li.vlt-comment-item {
			padding: px2rem(30px) 0;
		}


		li.vlt-review-item {
			padding: px2rem(15px) 0;
		}

		li.vlt-comment-item,
		li.vlt-review-item {

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
			}

		}

	}

	.vlt-comments ul.children {
		padding-left: px2rem(40px);
		margin-top: px2rem(60px);
		margin-left: px2rem(55px);
		border-left: 1px solid var(--vlt-color-2);

		@include media-breakpoint-down(md) {
			padding-left: 0;
			margin-left: 0;
			border: none;
		}

		li.vlt-comment-item:last-child,
		li.vlt-review-item:last-child {
			padding-bottom: 0;
		}

	}

	.form-submit {
		margin-top: px2rem(60px);
		margin-bottom: 0;
	}

}

.vlt-product-reviews__title {
	margin-bottom: 0;

	&+form {
		margin-top: px2rem(10px);
	}

}

.vlt-page-content+.vlt-page-comments {
	margin-top: 0;
}

.vlt-comments-navigation {
	margin-top: px2rem(60px);

	a {
		@extend %vlt_underline_link;
	}

	a+a {
		margin-left: px2rem(30px);
	}

}

/* STYLE 1
-------------------------------------------- */

.vlt-page-comments--style-1 {

	.vlt-page-comments__form {
		padding: px2rem(120px) 0;
		background-color: var(--vlt-color-1);
	}

	.vlt-page-comments__list+.vlt-page-comments__form {
		margin-top: px2rem(120px);
	}

}

/* STYLE 2
-------------------------------------------- */

.vlt-page-comments--style-2 {

	.vlt-page-comments__form {
		margin-top: px2rem(120px);
	}

}

/* COMMENT ITEM
-------------------------------------------- */

.vlt-comment-item__inner,
.vlt-review-item__inner {
	display: flex;
	padding: px2rem(8px) 0;

	&+.comment-respond {
		margin-top: px2rem(60px);
	}

	.vlt-comment-avatar,
	.vlt-review-avatar {
		margin-right: px2rem(30px);
		flex-shrink: 0;

		@include media-breakpoint-down(md) {
			display: none;
		}

		img {
			max-width: px2rem(90px);
			border-radius: 50%;
		}

	}

	.vlt-comment-content,
	.vlt-review-content {
		width: 100%;
		flex-basis: 100%;
	}

	.vlt-comment-name,
	.vlt-review-name {
		font-size: map-get($scales, 's8');
	}

	.vlt-comment-metas,
	.vlt-review-metas {
		margin-top: px2rem(5px);
		@extend %vlt_display_2;
	}

	.vlt-comment-header,
	.vlt-review-header {
		position: relative;

		.vlt-comment-reply,
		.star-rating {
			position: absolute;
			top: 0;
			right: 0;
		}

	}

	.vlt-comment-text,
	.vlt-review-text {
		margin-top: px2rem(25px);
	}

	.vlt-comment-reply {
		padding: px2rem(6px) px2rem(20px);
		font-size: map-get($scales, 's12');
		color: var(--vlt-color-7);
		background-color: var(--vlt-color-0);
		border: 1px solid var(--vlt-color-2);

		i {
			display: inline-block;
			margin-right: 11px;
			font-size: 10px;
		}

		&:hover {
			color: var(--vlt-color-0);
			background-color: var(--vlt-color-7);
			border: 1px solid var(--vlt-color-7);

			i {
				animation: vlt_animate_icon_left var(--vlt-transition-duration) var(--vlt-transition-easing) forwards;
			}

		}

	}

}