/* WORDPRESS: LINK PAGES
-------------------------------------------- */

.vlt-link-pages {
	margin-top: px2rem(40px);

	h6 {
		margin: 0 0 px2rem(15px);
	}

	.sep {
		margin: 0 1em;
		color: var(--vlt-color-2);
	}

	a {
		@extend %vlt_underline_link;
	}

}