/* WORDPRESS: MEJS
-------------------------------------------- */

.vlt-theme-sodalicious {

	$mejs_height: 40px;

	// container
	.mejs-container .mejs-container .mejs-controls,
	.mejs-embed,
	.mejs-embed body {
		background: 0 0;
	}

	.mejs-container,
	.mejs-container .mejs-controls {
		height: $mejs_height;
	}

	.mejs-container .mejs-controls {
		box-sizing: border-box;
		padding: 0;
		background: var(--vlt-color-7);
	}

	.mejs-container .mejs-controls .mejs-button {
		width: $mejs_height;
		height: $mejs_height;
	}

	.mejs-container .mejs-controls button {
		position: relative;
		top: 0;
		width: $mejs_height;
		height: $mejs_height;
		margin: 0;
		font-size: map-get($scales, 's10');
		background-color: transparent;
		background-image: none;
		border: 0;
		outline: 0;
	}

	// buttons
	.mejs-container .mejs-controls button::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 40px;
		height: 40px;
		font-family: map-get($icons, 'remixicon');
		line-height: $mejs_height;
		color: var(--vlt-color-0);
		text-align: center;
	}

	.mejs-container .mejs-controls>.mejs-playpause-button.mejs-play button::before,
	.mejs-container .mejs-controls>.mejs-playpause-button.mejs-replay button::before {
		content: '\f00a';
	}

	.mejs-overlay-button {
		display: none;
	}

	.mejs-container .mejs-controls>.mejs-playpause-button.mejs-pause button::before {
		content: '\efd7';
	}

	.mejs-container .mejs-controls>.mejs-playpause-button.mejs-stop button::before {
		content: '\f1a0';
	}

	.mejs-container .mejs-controls>.mejs-volume-button.mejs-mute button::before {
		content: '\f29e';
	}

	.mejs-container .mejs-controls>.mejs-volume-button.mejs-unmute button::before {
		content: '\f2a2';
	}

	// slider
	.mejs-container .mejs-controls>.mejs-volume-button>a.mejs-volume-slider {
		width: 32px;
		height: 130px;
		background: rgba(0, 0, 0, .7);
	}

	.mejs-container .mejs-controls>.mejs-volume-button>a.mejs-volume-slider .mejs-volume-total {
		top: 15px;
		width: 2px;
		background: var(--vlt-color-0-5);
	}

	.mejs-container .mejs-controls>.mejs-volume-button>a.mejs-volume-slider .mejs-volume-current,
	.mejs-container .mejs-controls>.mejs-volume-button>a.mejs-volume-slider .mejs-volume-current {
		background-color: var(--vlt-color-0);
	}

	.mejs-container .mejs-controls>.mejs-volume-button>a.mejs-volume-slider .mejs-volume-handle {
		display: none;
	}

	.mejs-container .mejs-controls>a.mejs-horizontal-volume-slider {
		width: 100px;
		height: $mejs_height;
		margin-right: 20px;
	}

	.mejs-container .mejs-controls>a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
	.mejs-container .mejs-controls>a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
		height: 2px;
	}

	.mejs-container .mejs-controls>a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
		top: 19px;
		width: 100px;
		background: var(--vlt-color-0-5);
	}

	.mejs-container .mejs-controls>a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
		background-color: var(--vlt-color-0);
	}

	.mejs-container .mejs-controls>.mejs-time {
		width: $mejs_height;
		height: 100%;
		padding: 0 20px;
		font-family: var(--vlt-primary-font);
		line-height: $mejs_height;
		color: var(--vlt-color-0);
	}

	.mejs-container .mejs-controls>.mejs-time>* {
		font-family: inherit;
	}

	.mejs-container .mejs-controls>.mejs-time-rail {
		top: 19px;
		height: 2px;
		padding: 0;
		margin: 0;
		font-family: inherit;
	}

	.mejs-container .mejs-controls>.mejs-time-rail .mejs-broadcast {
		display: none;
	}

	.mejs-container .mejs-controls>.mejs-time-rail .mejs-time-total {
		display: block !important;
		height: 2px;
		margin: 0;
		background: var(--vlt-color-0-7);
	}

	.mejs-container .mejs-controls>.mejs-time-rail .mejs-time-total span {
		height: 2px;
	}

	.mejs-container .mejs-controls>.mejs-time-rail .mejs-time-total .mejs-time-buffering,
	.mejs-container .mejs-controls>.mejs-time-rail .mejs-time-total .mejs-time-hovered,
	.mejs-container .mejs-controls>.mejs-time-rail .mejs-time-total .mejs-time-marker {
		background: 0 0;
	}

	.mejs-container .mejs-controls>.mejs-time-rail .mejs-time-total .mejs-time-loaded {
		background: transparent;
	}

	.mejs-container .mejs-controls>.mejs-time-rail .mejs-time-total .mejs-time-current {
		background: var(--vlt-color-0);
	}

	.mejs-container .mejs-controls>.mejs-time-rail .mejs-time-total .mejs-time-hovered {
		background: var(--vlt-color-0);
	}

	.mejs-container .mejs-controls>.mejs-time-rail .mejs-time-total .mejs-time-float,
	.mejs-container .mejs-controls>.mejs-time-rail .mejs-time-total .mejs-time-float-corner,
	.mejs-container .mejs-controls>.mejs-time-rail .mejs-time-total .mejs-time-float-current {
		top: -20px;
		color: var(--vlt-color-0);
		background: 0 0;
		border: 0;
	}

	.mejs-container .mejs-controls>.mejs-time-rail .mejs-time-handle,
	.mejs-container .mejs-controls>.mejs-time-rail .mejs-time-handle-content {
		top: 0;
		left: 0;
		width: 2px;
		height: 2px;
		border: none;
	}

	.mejs-container .mejs-controls>.mejs-fullscreen-button button::before {
		content: '\ed9c';
	}

	.mejs-container .mejs-controls>.mejs-fullscreen-button.mejs-unfullscreen button::before {
		content: '\ed9a';
	}

}