/* WORDPRESS: PAGINATION
-------------------------------------------- */

.vlt-pagination {
	display: block;
	margin-top: px2rem(100px);
	text-align: center;

	.prev,
	.next {
		font-size: map-get($scales, 's13');

		i {
			font-size: 1.2em;
		}

	}

	.prev:hover i {
		animation: vlt_animate_icon_left var(--vlt-transition-duration) var(--vlt-transition-easing) forwards;
	}

	.next:hover i {
		animation: vlt_animate_icon_right var(--vlt-transition-duration) var(--vlt-transition-easing) forwards;
	}

}

/* PAGED
-------------------------------------------- */

.vlt-pagination--paged {
	display: flex;

	.prev,
	.next {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: px2rem(60px);
		height: px2rem(60px);
		color: var(--vlt-color-7);
		background-color: var(--vlt-color-1);

		&:hover {
			color: var(--vlt-color-0);
			background-color: var(--vlt-color-7);
		}

	}

}

/* NUMERIC
-------------------------------------------- */

.vlt-pagination--numeric {

	ul {
		display: inline-flex;
		padding: 0;
		margin: 0;
		list-style-type: none;
		flex-wrap: wrap;
	}

	li>a,
	li>span {
		display: flex;
		align-items: center;
		justify-content: center;
		width: px2rem(60px);
		height: px2rem(60px);
		color: var(--vlt-color-7);
		background-color: var(--vlt-color-1);

		&:hover {
			background-color: var(--vlt-color-2);
		}

		&.current {
			color: var(--vlt-color-0);
			background-color: var(--vlt-color-7);
		}

	}

}