/* WORDPRESS: PASSWORD FORM
-------------------------------------------- */

.vlt-post-password-form {
	max-width: px2rem(400px);

	h4 {
		margin-bottom: px2rem(20px);
	}

	p {
		margin-bottom: px2rem(30px);
	}

	input[type=password] {
		padding-right: px2rem(50px);

		&:focus+button {
			animation: vlt_animate_icon_right var(--vlt-transition-duration) var(--vlt-transition-easing) forwards;
		}

	}

	button {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		padding: 0;
		margin: 0;
		color: var(--vlt-color-7);
		cursor: pointer;
		background: none;
		border: none;
		transition: color var(--vlt-transition-duration) var(--vlt-transition-easing);

		i {
			font-size: 1.2em;
		}

		&:hover {
			color: var(--vlt-color-6);
		}

	}

}